
.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-code {
  font-size: 150px;
  font-weight: bold;
  color: #ff4d4d; 
  margin: 0;
}

.error-text {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.error-image {
  height: 200px;
  width:300px;
  margin: 20px 0;
  border-radius: 10px;

}

.description {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  max-width: 500px;
}

.home-button {
  display: inline-block;
  text-decoration: none;
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.home-button:hover {
  background-color: #45a049;
}
